*{
    margin: 0;
    padding: 0;
}

.nav ul{
    background-color: rgb(99, 150, 185);
    text-align: center;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.nav li{
    line-height: 40px;
    height: 40px;
    border-bottom: 2px solid red;
}
.nav a{
    color: rgb(255, 255, 255)
}
.nav a:hover{
    background-color: rgb(226, 226, 226);
}
@media screen and (min-width:600px){
    .nav li{
        width: 120px;
        display: inline-block;
    }   
}
.container .jumbotron{
    margin: 10px;
    text-align: center;
    color: rgb(2, 218, 226);
    text-decoration: double;
    background-color: rgb(226, 226, 226);
}
.buttoms{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
